body {
    background-color: black;
    text-align: justify;
    color: white;
    margin: 50px;
}
h1 {
    color: aqua;
}
th {
    border: 2px solid white;
    padding: 10px;
}
td {
    border: 2px solid white;
    padding: 10px;
}
table {
    border-collapse: collapse;
}
.MathJax {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}
.sliderContainer {
    width: 800px;
    max-width: 100%;
}
.sliderLabel {
    display: block;
    text-align: center;
}
